@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/Century-Gothic-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}

:root {
    --custom-primary-color: #c6202d;
    --custom-primary-bg-color: #F4F3FF;
    --custom-secondary-color: #0A3E72;
    --custom-tertiary-color: #ffffff;
    --custom-quaternary-color: #000000;
    --custom-nav-font-weight: 600;
    --custom-hover-opacity: 0.9;
    --custom-card-background: radial-gradient(#3d3f69, #333450);
    --custom-footer-bg: #c6202d;
}

.custom-accordion {
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-border-radius: var(--bs-accordion-inner-border-radius);
    --bs-accordion-active-color: var(--custom-primary-color);
    --bs-accordion-color: var(--custom-primary-color);
    --bs-accordion-active-bg: #fff;
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-color: #fff;
    --bs-accordion-bg: #ffffffff;
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-color: #fff;
    --bs-accordion-btn-focus-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-color: var(--custom-secondary-color);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230A3E72'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c6202d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.custom-accordion .accordion-item:not(:last-child) {
    margin-bottom: 25px;
}

.custom-accordion .accordion-item,
.custom-accordion .accordion-header,
.custom-accordion .accordion-button {
    border-radius: var(--bs-accordion-border-radius);
}

.custom-accordion .accordion-body {
    border-top: 1px solid rgb(0 0 0 / 20%);
}

.custom-accordion .accordion-item {
    box-shadow: 5px 5px 10px #ccc;
}

html,
body {
    background: var(--custom-primary-bg-color);
    font-family: 'Montserrat Medium';
    color: var(--custom-quaternary-color);
}

.btn {
    font-family: 'Century Gothic Bold';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat Bold';
}

h1 {
    font-weight: 900;
}

.main-header {
    padding: 0 30px;
}

.navbar {
    background-color: var(--custom-primary-color);
    font-weight: var(--custom-nav-font-weight);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar.fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navbar.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: var(--custom-tertiary-color);
    padding: 0;
}

.nav-link.active {
    border-bottom: 3px solid var(--custom-tertiary-color);
}

.dropdown-menu.show {
    background-color: var(--custom-primary-bg-color);
    border: none;
    top: calc(100% + 10px);
    border-radius: 0;
    width: fit-content;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    font-weight: 600;
    color: var(--custom-primary-color);
}

.dropdown-item:hover {
    color: var(--custom-tertiary-color);
    background-color: var(--custom-primary-color);
}

.divider {
    height: 100%;
    width: 3px;
    background: var(--custom-primary-color);
    height: 35px;
}

.bg-custom-primary {
    background-color: var(--custom-primary-color) !important;
    background: var(--custom-primary-color) !important;
}

.bg-custom-secondary {
    background-color: var(--custom-secondary-color) !important;
    background: var(--custom-secondary-color) !important;
}

.bg-custom-tertiary {
    background-color: var(--custom-tertiary-color) !important;
    background: var(--custom-tertiary-color) !important;
}

.bg-custom-quaternary {
    background-color: var(--custom-quaternary-color) !important;
    background: var(--custom-quaternary-color) !important;
}

.btn-custom-primary {
    background-color: var(--custom-primary-color);
    color: var(--custom-tertiary-color);
}

.btn-custom-primary:hover {
    background-color: var(--custom-primary-color);
    color: var(--custom-tertiary-color);
    opacity: var(--custom-hover-opacity);
}

.btn-custom-secondary {
    background-color: var(--custom-secondary-color);
    color: var(--custom-tertiary-color);
}

.btn-custom-secondary:hover {
    background-color: var(--custom-secondary-color);
    color: var(--custom-tertiary-color);
    opacity: var(--custom-hover-opacity);
}

.primary-color {
    color: var(--custom-primary-color);
}

.secondary-color {
    color: var(--custom-secondary-color);
}

.tertiary-color {
    color: var(--custom-tertiary-color);
}

.quaternary-color {
    color: var(--custom-quaternary-color);
}

.footer-color {
    color: var(--custom-footer-bg);
}

.nav-brand img {
    max-width: 200px;
}

.header-right-links {
    display: flex;
    justify-content: space-between;
    flex-basis: content;
    text-decoration: none;
    font-weight: 600;
    color: var(--custom-quaternary-color);
}

.header-right-links svg {
    width: 20px;
    margin-right: 5px;
    height: 20px;
    color: var(--custom-secondary-color);
}

.header-right-links svg *{
    fill: var(--custom-secondary-color);
}

section[id$="-banner"] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    position: relative;
    min-height: 450px;
}

#main-banner {
    background-image: url(../images/home/banner_image.png);
}

#main-banner h1 {
    font-size: 50px;
}

#main-banner::after {
    content: '';
    clear: both;
}

.icon-floated-card {
    position: relative;
    margin: 50px 10px 20px;
}

.icon-floated-card .icon,
.floated-icon {
    background-color: var(--custom-secondary-color);
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -35px;
    left: 20px;
}

.icon-floated-card .icon,
.floated-icon svg {
    color: var(--custom-tertiary-color);
    fill: var(--custom-tertiary-color);
    font-size: 2em;
    font-weight: 900;
}

.icon-floated-card .icon *,
.floated-icon svg * {
    align-self: auto;
    color: var(--custom-tertiary-color);
    fill: var(--custom-tertiary-color);
}

.floated-icon {
    position: static;
    margin: auto;
}

.icon-floated-card .content {
    box-shadow: 4px 4px 10px #a3a3a3;
    border-radius: 10px;
    text-align: left;
    padding: 60px 20px 10px;
    min-height: 180px;
    font-size: 15px;
    line-height: 18px;
}

#blood-adequacy .description{
    font-size: 18px;
}

#blood-adequacy .floated-card-container{
    margin: 0 100px;
}

#blood-adequacy .floated-card-container button{
    font-size: 20px;
    margin-top: 30px;
}
#our-campaigns {
    padding-top: 30px;
    padding-bottom: 30px;
}

#our-campaigns p {
    font-size: 13px;
}

#what-is-thalassemia {
    padding: 30px 50px;
}

#what-is-thalassemia > .card {
    border: none;
    box-shadow: 3px 3px 10px #ccc;
    padding: 80px 0;
    border-radius: 30px;
}

#what-we-do {
    padding: 100px 0;
}

#what-we-do .main-content {
    padding: 0 50px;
}

.color-card {
    background: var(--custom-card-background);
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--custom-tertiary-color);
    padding: 30px;
    cursor: pointer;
}

.color-card:hover {
    background: var(--custom-primary-color);
    
}

.color-card .icon {
    width: 75px;
}

.color-card .content {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.color-card .icon svg {
    fill: var(--custom-tertiary-color);
    width: 100%;
    display: block;
    height: 100%;
}

#our-programs {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hover-tranlate:hover {
    transform: translateY(-10%);
    transition-duration: 500ms;
}

#solutions {
    padding: 100px 0;
}

.icon-card {
    background: var(--custom-primary-bg-color);
    border: none;
    box-shadow: 4px 4px 10px #a3a3a3;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    color: var(--custom-primary-color);
}

.icon-card .icon {
    width: 100px;
    margin: 0 auto;
    height: 100px;
}

.icon-card .icon svg{
    display: block;
    height: 100%;
    width: 100%;
    fill: var(--custom-primary-color);
}

.icon-card .content{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
}

footer {
    background: var(--custom-footer-bg);
    /* border-top-right-radius: 20px; */
    /* border-top-left-radius: 20px; */
    padding: 50px 50px 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer  a:hover {
    color: var(--custom-primary-bg-color);
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-content{
    color: var(--custom-tertiary-color);
    fill: var(--custom-tertiary-color);
}

.small-icon {
    display: block;
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-col-1 {
    padding-right: 100px;
}

.footer-col-1 .heading {
    font-size: 35px;
}

.footer-col-1 .content {
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-col-1 .form-control {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
}

.footer-col-1 .form-control::placeholder {
    color: inherit;
    opacity: 0.9;
}

.footer-col-1 .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--custom-tertiary-color);
}

.footer-col-1 .input-group-text {
    background-color: var(--custom-tertiary-color);
    border-radius: 0;
    color: var(--custom-primary-color);
    font-weight: 600;
}

.footer-col-2 {
    padding: 0;
}

.footer-col-2 ul {
    padding: 0;
}

.footer-col-2 ul li {
    padding: 15px 0;
}

.footer-col-3 {
    display: flex;
    justify-content: end;
}

.footer-col-3 ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.footer-col-3 ul li svg {
    display: block;
    width: 100%;
    height: 100%;
}

.copy-right-content {
    padding: 30px;
    text-align: center;
}

/* About Us Starts Here */

#about-us-banner {
    background-image: url(../images/about/about_us_banner.png);
}

.simple-image-card img {
    padding: 40px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
}

.simple-image-card h4 {
    color: var(--custom-secondary-color);
    text-align: center;
}

.simple-image-card .content {
    color: var(--custom-quaternary-color);
    text-align: justify;
}

#our-core-values .icon-floated-card .content{
    min-height: 220px;
}

#core-objectives ul,
.dotted-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#core-objectives ul li,
.dotted-ul li {
    padding: 15px 0;
    position: relative;
}

#core-objectives ul li::before,
.dotted-ul li::before {
    content: '';
    height: 0.7em;
    width: 0.7em;
    display: block;
    position: absolute;
    background: var(--custom-primary-color);
    top: 1.3em;
    border-radius: 50%;
    left: -1.2em;
}

#fulfillment .icon-floated-card .content{
    min-height: 200px;
}

#bt-prevention-effort .icon-floated-card .content{
    min-height: 160px;
}

.my-ol {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.my-ol .content {
    color: inherit;
    margin-top: 5px;
}

.my-ol .number {
    background: var(--custom-primary-color);
    height: 2em;
    padding: 25px;
    margin-right: 20px;
    width: 2em;
    border-radius: 50%;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custom-tertiary-color);
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.my-ol .line {
    width: 3px;
    height: calc(100% + 30px);
    background-color: var(--custom-primary-color);
    position: absolute;
    z-index: 0;
    left: 24px;
}

#thalassemia-banner {
    background-image: url(../images/thalassemia/thalassemia-banner.png);
}

#knowledge-hub-banner {
    background-image: url(../images/knowledge-hub/knowledge-hub-banner.png);
}

.nav-pills .nav-link {
    color: var(--custom-secondary-color);
}

.nav-pills .nav-link.active {
    color: var(--custom-tertiary-color);
    background-color: var(--custom-primary-color);
}

.px-5vw {
    padding-left: 5vw;
    padding-right: 5vw;
}

.px-10vw {
    padding-right: 10vw;
    padding-left: 10vw;
}

.custom-nav-pills .nav-item {
    padding: 0px 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.custom-nav-pills .nav-item .nav-link {
    padding: .3em 1.2em;
    width: fit-content;
}

.custom-nav-pills .nav-item .nav-link:hover:not(.active) {
    background-color: var(--custom-secondary-color);
    color: var(--custom-tertiary-color);
}

.event-container,
.event-data {
    color: var(--custom-tertiary-color);
    position: relative;
    font-size: 16px;
}

.event-container .event-data .overlay .btn {
    width: fit-content;
    padding: .2em .4em;
    font-size: 1.2em;
}

.event-container .event-data .overlay {
    position: absolute;
    top: 0;
    padding: 1.5em;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.event-container .partners {
    display: flex;
    align-items: center;
    color: var(--custom-quaternary-color);
    margin-top: 10px;
}

.event-container .event-data img.background {
    width: 100%;
}

.event-container .partner-logo {
    max-width: 100px;
    max-height: 30px;
    margin-left: 10px;
}

.event-content .title {
    height: 2.5em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 1.875rem;
    overflow: hidden;
}

.campaign .event-content .title {
    height: 3.75em;
    -webkit-line-clamp: 3;
}

.requirement-table {
    box-shadow: 3px 3px 10px #a3a3a3;
}

.requirement-table-content {
    height: 100%;
}

.requirement-table-content .heading {
    background-color: var(--custom-primary-color);
    color: var(--custom-tertiary-color);
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
}

.requirement-table-content .content {
    padding: 20px 10px;
    height: calc(100% - 45px);
    background: var(--custom-tertiary-color);
    font-weight: 600;
}

.requirement-table-content .content .list {
    list-style-type: decimal;
    padding-left: 35px;
    margin-bottom: 0;
}

.media-image {
    width: 100%;
    max-height: 300px;
    margin-top: 30px;
    object-fit: cover;
}

.form-group.custom {
    margin-bottom: 1em;
    font-size: 20px;
}

.form-group.custom .form-label {
    color: var(--custom-secondary-color);
}

.form-group.custom .form-control,
.form-group.custom .form-select {
    border: none;
    font-size: 1em;
    box-shadow: 3px 3px 5px rgb(158 158 158 / 30%);
    padding: 5px 15px;
}

.fs-6em {
    font-size: 6em;
}

.box-shadow-card {
    box-shadow: 4px 4px 10px #a3a3a3;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.box-shadow-card .icon {
    background-color: var(--custom-tertiary-color);
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-shadow-card .icon svg {
    color: var(--custom-primary-color);
    fill: var(--custom-primary-color);
    max-width: 100%;
    max-height: 100%;
}

.box-shadow-card .content {
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.box-shadow-card:not(:first-child) {
    margin-top: 20px;
}

.box-shadow-card .content a,
.box-shadow-card .content a:hover,
.box-shadow-card .content a:visited, 
.box-shadow-card .content a:active {
    color: var(--custom-quaternary-color);
    text-decoration: none;
}

.floating-message {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .5em;
    font-size: 0.8em;
    font-weight: 100;
    color: var(--custom-tertiary-color);
    background-color: var(--custom-secondary-color);
    border-left: 2px solid var(--custom-primary-color);
    border-top: 2px solid var(--custom-primary-color);
    border-top-left-radius: 10px;
}

.footer-top {
    padding: 10px 20px;
    background-color: var(--custom-secondary-color);
    color: var(--custom-tertiary-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-top a {
    color: var(--custom-tertiary-color);
}

.custom-align-center {
    transform: translateY(-50%)!important;
    top: 50%!important;
    margin: 0 auto!important;
}

.form-validation-error {
    color: #c6202d;
}

section[id$="banner"] .container h1,
section[id$="banner"] .container h2,
section[id$="banner"] .container h3,
section[id$="banner"] .container h4,
section[id$="banner"] .container h5,
section[id$="banner"] .container h6 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(244 243 255 / 30%)
}

.custom-alert-content {
    padding: 1em;
}

@media only screen and (max-width: 375px) {
    .main-header {
        padding: 0 10px;
    }

    .nav-brand img {
        margin: 10px auto;
        display: block;
    }

    .header-right-links {
        font-size: 13px;
    }

    .right-content {
        justify-content: center !important;
        margin-bottom: 10px;
    }

    .header-right-links svg {
        width: 18px;
        height: 18px;
        margin-right: 3px;
    }

    #main-banner,
    #about-us-banner,
    #knowledge-hub-banner,
    #thalassemia-banner {
        min-height: 150px;
    }

    #main-banner h1,
    #about-us-banner h1,
    #knowledge-hub-banner h1,
    #thalassemia-banner h1 {
        font-size: 18px;
    }
    
    #main-banner button,
    #about-us-banner button,
    #knowledge-hub-banner button,
    #thalassemia-banner button {
        font-size: 15px;
    }

    #blood-adequacy .floated-card-container {
        margin: 0 30px;
    }

    .nav-link {
        width: fit-content;
        padding: 0 10px;
    }

    #what-is-thalassemia {
        padding: 10px 20px;
    }
    
    #what-is-thalassemia > .card {
        padding: 30px 0;
    }
    
    #what-is-thalassemia > .card img{
        margin-top: 20px;
    }

    #what-we-do {
        padding: 50px 0;
    }
    
    #our-programs {
        padding-top: 0;
        padding-bottom: 0;
    }

    footer {
        padding: 20px 20px 0;
    }

    .footer-col-1 {
        padding-right: 0;
        padding-left: 0;
    }
    
    .footer-col-1 .heading {
        font-size: 20px;
    }

    .footer-col-1 .content {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .copy-right-content {
        padding: 10px 0;
        font-size: 13px;
    }

    .footer-col-3 {
        justify-content: start;
    }

    .event-data {
        font-size: 10px;
    }

    #mapIframe {
        max-height: 300px;
    }
    
    .box-shadow-card .icon {
        display: none
    }

    .box-shadow-card .content {
        padding-left: 0;
    }

    #google-events {
        height: 300px;
    }

    .floating-message {
        font-size: 8px;
    }

    .footer-top {
        font-size: 10px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 427px) {
    .main-header {
        padding: 0 10px;
    }

    .nav-brand img {
        margin: 10px auto;
        display: block;
    }

    .header-right-links {
        font-size: 13px;
    }

    .right-content {
        justify-content: center !important;
        margin-bottom: 10px;
    }

    .header-right-links svg {
        width: 18px;
        height: 18px;
        margin-right: 3px;
    }

    #main-banner,
    #about-us-banner,
    #knowledge-hub-banner,
    #thalassemia-banner {
        min-height: 150px;
    }

    #main-banner h1,
    #about-us-banner h1,
    #knowledge-hub-banner h1,
    #thalassemia-banner h1 {
        font-size: 18px;
    }
    
    #main-banner button ,
    #about-us-banner button,
    #knowledge-hub-banner button,
    #thalassemia-banner button {
        font-size: 15px;
    }

    #blood-adequacy .floated-card-container {
        margin: 0 30px;
    }

    .nav-link {
        width: fit-content;
        padding: 0 10px;
    }

    #what-is-thalassemia {
        padding: 10px 20px;
    }
    
    #what-is-thalassemia > .card {
        padding: 30px 0;
    }
    
    #what-is-thalassemia > .card img{
        margin-top: 20px;
    }

    #what-we-do {
        padding: 50px 0;
    }
    
    #our-programs {
        padding-top: 0;
        padding-bottom: 0;
    }

    footer {
        padding: 20px 20px 0;
    }

    .footer-col-1 {
        padding-right: 0;
        padding-left: 0;
    }
    
    .footer-col-1 .heading {
        font-size: 20px;
    }

    .footer-col-1 .content {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .copy-right-content {
        padding: 10px 0;
        font-size: 13px;
    }

    .footer-col-3 {
        justify-content: start;
    }

    #mapIframe {
        max-height: 350px;
    }

    #google-events {
        height: 350px;
    }

    .floating-message {
        font-size: 8px;
    }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
    #main-banner,
    #about-us-banner,
    #knowledge-hub-banner,
    #thalassemia-banner {
        min-height: 250px;
    }

    #main-banner h1,
    #about-us-banner h1,
    #knowledge-hub-banner h1,
    #thalassemia-banner h1 {
        font-size: 25px;
    }

    #main-banner button,
    #about-us-banner button,
    #knowledge-hub-banner button,
    #thalassemia-banner button {
        font-size: 20px;
    }

    #blood-adequacy .floated-card-container {
        margin: 0;
    }

    #blood-adequacy .floated-card-container {
        margin: 0 30px;
    }

    .nav-link {
        width: fit-content;
        padding: 0 10px;
    }

    #what-is-thalassemia {
        padding: 15px 30px;
    }
    
    #what-is-thalassemia > .card {
        padding: 40px 0;
    }

    #what-we-do {
        padding: 60px 0;
    }
    
    #our-programs {
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer-col-1 {
        padding-right: 0;
    }

    .footer-col-3 {
        justify-content: start;
    }

    #mapIframe {
        max-height: 400px;
    }

    .floating-message {
        font-size: 9px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .nav-link {
        width: fit-content;
        padding: 0 10px;
    }

    #blood-adequacy .floated-card-container {
        margin: 0;
    }

    .icon-floated-card .content {
        padding: 50px 10px 10px;
    }

    #main-banner,
    #about-us-banner,
    #knowledge-hub-banner,
    #thalassemia-banner {
        min-height: 350px;
    }

    #what-is-thalassemia {
        padding: 25px 40px;
    }
    
    #what-is-thalassemia > .card {
        padding: 50px 15px;
    }

    #what-we-do {
        padding: 70px 0;
    }
    
    #our-programs {
        padding-top: 50px;
        padding-bottom: 0;
    }

    #solutions {
        padding: 50px 0;
    }

    .icon-card {
        padding: 20px 5px;
    }

    .icon-card .icon {
        width: 50px;
        height: 50px;
    }

    .icon-card .content {
        font-size: 14px;
        line-height: 18px;
    }

    .footer-col-3 {
        justify-content: start;
    }

    #mapIframe {
        max-height: 400px;
    }

    .floating-message {
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #blood-adequacy .floated-card-container {
        margin: 0;
    }
    
    .event-data {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    form.custom-half .half:nth-child(odd) {
        /* padding-right: 3em; */
    }
    
    form.custom-half .half:nth-child(even) {
        /* padding-left: 3em; */
    }
    
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        box-shadow: 0px 1px 10px #ccc;
    }
}